<%- include('../partials/header') %>
  
  <h1><%=title%></h1>
 
      <p class="about">My name is Cristina Resina , and I'm currently a student in the Year Up program at Seattle Central College, studying to become a Software Engeneer.<br>I have always been fascinated by technology and its potential to solve real-world problems, and Year Up has provided me with a unique opportunity to turn my passion into a career.</p>    
     <img class="aboutpic" src="views/pages/images/about.jpg" alt="My picture" style="width:500px;height:700px;">
<%- include('../partials/footer') %>