<%- include('../partials/header') %>
  
  <h1><%=title%></h1>
 
      <p>I'm afraid of high, but  I love to fly!</p><br>
      <p>My laugh is contagious to others; they can't resist!</p><br>
      <p>I speak three languages fluently! </p><br>
  
     <img class="funfactspic" src="views/pages/images/funfacts.jpg" alt="funfacts  picture" style="width:500px;height:500px;">
<%- include('../partials/footer') %>