<%- include('../partials/header') %>
  
  <h1><%=title%></h1>
 
      <p class="hobby">I have a strong passion for playing tennis.<br> Also, I find great joy in traveling, and my favorite place to visit is New York City, where the busy streets and towering buildings fascinate me.<br>Another hobby I cherish is exploring various types of food worldwide.<br>Life is beautifully painted with three vibrant colors: tennis, travel, and food.</p>    
<img class="hobbypic" src="views/pages/images/hobby.jpg" alt="Hobby picture" style="width:500px;height:500px;">
<%- include('../partials/footer') %>