<%- include('../partials/header') %>
  
  <h1><%=title%></h1>

      <p class="ejs">The homepage showcases proficiency in Node.js, Express.js, and EJS templates.<br>
It demonstrates the ability to create a dynamic and responsive web application
by leveraging these technologies.<br> This practical implementation effectively
summarizes the lessons learned.</p>    
  <img class="ejspic" src="views/pages/images/ejs.jpg" alt="Ejs picture" style="width:200px;height:200px;">
 
<%- include('../partials/footer') %>